$brl-icon-add: "\EA01";
$brl-icon-analyze: "\EA02";
$brl-icon-api: "\EA03";
$brl-icon-archive: "\EA04";
$brl-icon-arrow-down: "\EA05";
$brl-icon-arrow-left: "\EA06";
$brl-icon-arrow-right: "\EA07";
$brl-icon-arrow-up: "\EA08";
$brl-icon-back: "\EA09";
$brl-icon-briefcase: "\EA0A";
$brl-icon-cancel: "\EA0B";
$brl-icon-chat: "\EA0C";
$brl-icon-check-solid: "\EA0D";
$brl-icon-check: "\EA0E";
$brl-icon-chop: "\EA0F";
$brl-icon-clock: "\EA10";
$brl-icon-close: "\EA11";
$brl-icon-cluster: "\EA12";
$brl-icon-code-view: "\EA13";
$brl-icon-code: "\EA14";
$brl-icon-cognitive: "\EA15";
$brl-icon-collapse-left: "\EA16";
$brl-icon-collapse-right: "\EA17";
$brl-icon-collapse-vert: "\EA18";
$brl-icon-company: "\EA19";
$brl-icon-compare: "\EA1A";
$brl-icon-comparison-equal: "\EA1B";
$brl-icon-comparison-greater: "\EA1C";
$brl-icon-comparison-lower: "\EA1D";
$brl-icon-computer: "\EA1E";
$brl-icon-configure: "\EA1F";
$brl-icon-copy: "\EA20";
$brl-icon-database: "\EA21";
$brl-icon-demo: "\EA22";
$brl-icon-deploy: "\EA23";
$brl-icon-document: "\EA24";
$brl-icon-download-cloud: "\EA25";
$brl-icon-download: "\EA26";
$brl-icon-edit-pencil: "\EA27";
$brl-icon-edit: "\EA28";
$brl-icon-education: "\EA29";
$brl-icon-entity: "\EA2A";
$brl-icon-expand-horiz: "\EA2B";
$brl-icon-expand-vert: "\EA2C";
$brl-icon-expand: "\EA2D";
$brl-icon-eyeball: "\EA2E";
$brl-icon-failed-solid: "\EA2F";
$brl-icon-failed: "\EA30";
$brl-icon-favorite: "\EA31";
$brl-icon-filter: "\EA32";
$brl-icon-flow: "\EA33";
$brl-icon-folder-solid: "\EA34";
$brl-icon-folder: "\EA35";
$brl-icon-gavel: "\EA36";
$brl-icon-gift: "\EA37";
$brl-icon-go-link: "\EA38";
$brl-icon-go: "\EA39";
$brl-icon-help: "\EA3A";
$brl-icon-home: "\EA3B";
$brl-icon-icosahedron-lg: "\EA3C";
$brl-icon-icosahedron: "\EA3D";
$brl-icon-info: "\EA3E";
$brl-icon-link-external: "\EA3F";
$brl-icon-link-internal: "\EA40";
$brl-icon-link: "\EA41";
$brl-icon-loading: "\EA42";
$brl-icon-location: "\EA43";
$brl-icon-lock: "\EA44";
$brl-icon-logout: "\EA45";
$brl-icon-mail: "\EA46";
$brl-icon-menu-bars: "\EA47";
$brl-icon-menu-dots: "\EA48";
$brl-icon-merge: "\EA49";
$brl-icon-microphone: "\EA4A";
$brl-icon-mobile-phone: "\EA4B";
$brl-icon-move: "\EA4C";
$brl-icon-navigation: "\EA4D";
$brl-icon-notebook: "\EA4E";
$brl-icon-notification: "\EA4F";
$brl-icon-office: "\EA50";
$brl-icon-picture: "\EA51";
$brl-icon-pictures: "\EA52";
$brl-icon-printer: "\EA53";
$brl-icon-rating-solid: "\EA54";
$brl-icon-rating: "\EA55";
$brl-icon-refresh: "\EA56";
$brl-icon-remove: "\EA57";
$brl-icon-response: "\EA58";
$brl-icon-sale: "\EA59";
$brl-icon-save: "\EA5A";
$brl-icon-scissors: "\EA5B";
$brl-icon-search: "\EA5C";
$brl-icon-selected: "\EA5D";
$brl-icon-setting: "\EA5E";
$brl-icon-share: "\EA5F";
$brl-icon-shuffle: "\EA60";
$brl-icon-sort-down: "\EA61";
$brl-icon-sort-up: "\EA62";
$brl-icon-sort: "\EA63";
$brl-icon-tag: "\EA64";
$brl-icon-template: "\EA65";
$brl-icon-timer: "\EA66";
$brl-icon-trash: "\EA67";
$brl-icon-tutorial: "\EA68";
$brl-icon-unlock: "\EA69";
$brl-icon-upload-cloud: "\EA6A";
$brl-icon-upload: "\EA6B";
$brl-icon-user-solid: "\EA6C";
$brl-icon-user: "\EA6D";
$brl-icon-users: "\EA6E";
$brl-icon-warning: "\EA6F";
$brl-icon-watch: "\EA70";
$brl-icon-workspace: "\EA71";
$brl-icon-zoom-in: "\EA72";

